<!DOCTYPE html>
<html>
  <head>
    <title>Pylons.live</title>
    <link rel='stylesheet' href='/style.css' />
    <link rel='stylesheet' href='/main.css' />
    <link rel="icon" href="/icon.ico">
  </head>
  <body>
  <section id="home" class="image">
    <div class="inner-width">
      <div class="content">
        <h1>πρέπω να φτιάξετε επιπλέον πυλώνες</h1>
        <div class="buttons">
          <a href="https://twitter.com/PylonsPc/">Twitter</a>
          <a href="http://pylons.live/map">Pylons server Dynmap</a>
          <a href="http://pylons.live/map">Guild SMP Dynmap</a>
        </div>
      </div>
    </div>
  </section>
  <section id="about">

  </section>
  </body>
</html>
